<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="bean1" class="com.github.codingob.context.bean.DemoBean" init-method="init" destroy-method="destroy" primary="true">
        <property name="id" value="1"/>
        <property name="name" value="bean1"/>
    </bean>

    <import resource="bean2.xml"/>

    <bean id="beanInstanceFactory" class="com.github.codingob.context.bean.BeanInstanceFactory"/>

    <bean id="bean4" scope="prototype" factory-bean="beanInstanceFactory" factory-method="createBean">
        <constructor-arg name="id" value="4"/>
        <constructor-arg name="name" value="bean4"/>
    </bean>

    <bean id="demoComponent1" class="com.github.codingob.context.component.DemoComponent">
        <property name="bean1" ref="bean1"/>
        <property name="bean4" ref="bean1"/>
    </bean>

    <bean id="bean5" class="com.github.codingob.context.bean.DemoBean" depends-on="bean1">
        <property name="id" value="5"/>
        <property name="name" value="bean5"/>
    </bean>

    <bean class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">
        <property name="locations" value="classpath:jdbc.properties"/>
    </bean>

    <context:property-placeholder location="classpath:jdbc.properties"/>

    <bean id="dataSource" init-method="init" destroy-method="destroy"
          class="com.github.codingob.context.bean.DataSource">
        <property name="driverClassName" value="${jdbc.driverClassName}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

    <context:annotation-config/>

    <context:component-scan base-package="com.github.codingob.context"/>

</beans>