<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spring WebMvc</title>
    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<div id="app">
    <el-row>
        <el-col :span="8" :offset="8">
            <el-page-header @back="goBack" content="用户登陆">
            </el-page-header>
            <el-form label-position="right" label-width="80px" :model="form">
                <el-form-item label="账号">
                    <el-input v-model="form.user.username" placeholder="root"></el-input>
                </el-form-item>
                <el-form-item label="密码">
                    <el-input v-model="form.user.password" type="password" placeholder="root"></el-input>
                </el-form-item>
                <el-form-item label="验证码">
                    <el-input v-model="form.code">
                    </el-input>
                    <el-image :src="codeURL" fit="fill" @click="flushCode"></el-image>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="submitForm">登录</el-button>
                    <el-button @click="resetForm">重置</el-button>
                </el-form-item>
            </el-form>
        </el-col>
    </el-row>
</div>
<script src="/static/login.js"></script>
</body>
</html>